<div class="main__content">
  <div class="main__content_head flex_center">
    <a href="./movies" class="add_content"
      ><i class="bi bi-arrow-left-circle"></i> <span>Quay Lại</span></a
    >
  </div>
  <div class="main__content_body">
    <form
      id="my__form_film"
      action="/admin/movie/create"
      method="post"
      enctype="multipart/form-data"
    >
      <h1 class="title_form">Thêm dự án phim mới</h1>
      <div class="">
        <label for="cate">Danh mục</label>
        <div class="flex gap-4 my-4">
          <% categories.forEach(category => { %>
          <label class="flex items-center">
            <input
              type="checkbox"
              name="category"
              value="<%= category.name %>"
              class="form-checkbox h-5 w-5 text-purple-600 transition duration-150 ease-in-out"
            />
            <span class="ml-2 text-white"><%= category.name %></span>
          </label>
          <% }) %>
        </div>
      </div>
      <div class="group-1-2">
        <div class="my__form-group">
          <label for="">Tiêu đề hiển thị</label>
          <input
            type="text"
            placeholder="Nhập tiêu đề hiển thị ..."
            class="my-form-control"
            name="title"
            id="title"
            required
          />
        </div>
      </div>
      <div class="group-1-3">
        <div class="my__form-group">
          <label for="">Diễn viên chính</label>
          <input
            type="text"
            placeholder="Nhập tên diễn viên ..."
            class="my-form-control"
            name="cast"
            id="cast"
            required
          />
        </div>
        <div class="my__form-group">
          <label for="">Tên nhân vật</label>
          <input
            type="text"
            placeholder="Nhập tên nhân vật ..."
            class="my-form-control"
            name="character"
            id="character"
            required
          />
        </div>
      </div>
      <div class="group-1-4">
        <div class="my__form-group">
          <label for="">Thể loại</label>
          <input
            type="text"
            placeholder="Nhập thể loại hiển thị ..."
            class="my-form-control"
            name="genre"
            id="genre"
            required
          />
        </div>
        <div class="my__form-group">
          <label for="">Trailer</label>
          <input
            type="file"
            placeholder="Nhập đường dẫn trailer ..."
            class="my-form-control"
            name="trailer"
            accept="video/*"
            id="trailer"
            required
          />
        </div>
      </div>
      <div class="group-1-1">
        <div class="my__form-group">
          <label for="description_film">Mô Tả</label>
          <textarea
            name="description"
            placeholder="Nhập mô tả ..."
            id="description"
            required
          ></textarea>
        </div>
      </div>
      <div class="group-1-2">
        <div class="my__form-group poster_upload">
          <small>Chọn poster hiển thị</small>
          <label for="poster_img"
            ><img class="img_click" src="/images/ul_poster_default.png" alt=""
          /></label>
          <img class="poster_review" src="/images/poster.png " alt="" />
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            name="poster"
            id="poster_img"
            required
          />
        </div>
        <div class="my__form-group banner_upload">
          <small>Chọn banner hiển thị</small>
          <label for="banner_img"
            ><img
              class="img_click-2"
              src="/images/ul_poster_default.png"
              alt=""
          /></label>
          <img class="banner_review" src="/images/picture.png " alt="" />
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            name="banner"
            id="banner_img"
            required
          />
        </div>
      </div>
      <div class="btn_submit_form-data">
        <button
          type="submit"
          id="btn-create-movie"
          class="flex justify-center items-center"
        >
          Hoàn tất
        </button>
      </div>
      <div class="line"></div>
    </form>
  </div>
</div>
<script src="/handle/create-movie.handle.js"></script>
<script src="/handle/review.js"></script>
