<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Loading -->
    <%- include("../components/Loading") %>
    <!--  -->
    <div
      class="relative h-full w-full bg-[url('/images/1.jpg')] bg-no-repeat bg-center bg-fixed bg-cover"
    >
      <div class="bg-black w-full h-full lg:bg-opacity-50">
        <nav class="px-12 py-5">
          <img src="/images/logo.png" alt="logo" class="h-12" />
        </nav>
        <div class="flex justify-center">
          <div
            class="bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full"
          >
            <h2 id="titleLogin" class="text-white text-4xl mb-8 font-semibold">
              Đăng nhập
            </h2>
            <div class="flex flex-col gap-4">
              <%- include('../components/Input', { props: props.username }) %>
              <!--  -->
              <%- include('../components/Input', { props: props.email }) %>
              <!--  -->
              <%- include('../components/Input', { props: props.password }) %>
              <!--  -->
              <button
                id="btnLogin"
                class="w-full py-3 bg-red-600 text-white rounded-md mt-10 hover:bg-red-700 transition"
              >
                Đăng nhập
              </button>
              <p class="text-neutral-500 mt-10">
                <span id="textToggleLogin">Lần đầu bạn vào Neflix?</span>
                <span
                  id="toggleLogin"
                  class="text-white ml-1 hover:underline cursor-pointer"
                  >Tạo tài khoản mới</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/handle/auth.handle.js"></script>
</html>
