<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/styles/web/selectUser.css" />
  </head>
  <body>
    <!-- Loading -->
    <%- include("../components/Loading") %>
    <!--  -->
    <div class="fillLogin">
      <span class="title-select-browser">Ai đang xem ?</span>
      <div class="listUser">
        <% users.forEach(user => { %>
        <form action="/browser" class="userCard" method="get">
          <input type="submit" hidden />
          <div class="imgUserCard">
            <img src="<%= user.avatar %>" alt="<%= user.username %>" />
          </div>
          <div class="nameUserCard">
            <span><%= user.username %></span>
          </div>
        </form>
        <% }) %>
      </div>
    </div>
  </body>
  <script>
    document.querySelectorAll(".imgUserCard").forEach((item) => {
      item.onclick = () => {
        item.parentElement.submit();
      };
    });
  </script>
</html>
