<%- include("components/Head") %>
<!--  -->
<div class="bg-white w-full min-h-full">
  <main class="bg-white lg:w-[60%] md:w-[80%] m-auto py-12">
    <div
      class="flex justify-between items-end border-b-[1px] border-gray-400 w-full"
    >
      <h2 class="text-4xl">Tài khoản</h2>
      <a href="#" class="text-blue-600 hover:underline">Thêm người dùng mới</a>
    </div>
    <div
      class="w-full flex justify-between py-8 border-b-[1px] border-gray-400"
    >
      <div class="text-xl text-gray-500">Thông tin tài khoản</div>
      <div class="grid grid-flow-col">
        <div class="h-[100px] w-[100px] mr-4">
          <img
            src="https://i.pinimg.com/236x/0d/7f/7e/0d7f7e282d874036bb46cd21df4bec77.jpg"
            alt="Avatar"
            class="h-full w-full object-cove rounded-md"
          />
        </div>
        <div class="text-black">
          <div class="">
            <span class="font-medium text-xl">chungdi@gmail.com</span>
          </div>
          <div class="my-3 text-gray-500">
            <label for="">Mật khẩu:</label>
            <span class="">************</span>
          </div>
          <div class="text-gray-500">
            <label for="">Số điện thoại:</label>
            <span class="">0335370823</span>
          </div>
        </div>
      </div>
      <div class="text-blue-600">
        <div class="hover:underline"><a href="#">Thay đổi email</a></div>
        <div class="my-3 hover:underline">
          <a href="#">Thay đổi mật khẩu</a>
        </div>
        <div class="hover:underline">
          <a href="#">Thay đổi số điện thoại</a>
        </div>
      </div>
    </div>
    <div
      class="w-full flex justify-between py-8 border-b-[1px] border-gray-400"
    >
      <div class="text-xl text-gray-500">Quản lý hồ sơ và tài khoản</div>
      <div class="w-[62.5%]">
        <div
          class="flex justify-between items-center w-full border-b-[1px] border-gray-300 mb-4 pb-4 cursor-pointer"
        >
          <div class="flex">
            <div class="w-[60px] h-[60px]">
              <img
                src="https://i.pinimg.com/236x/bd/9b/65/bd9b6528718eb523c94e05fb787714d9.jpg"
                alt="Avatar"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="h-[60px] px-4 flex flex-col">
              <div class="font-medium text-lg">Chungdi</div>
              <div class="text-gray-400">Quản lý</div>
            </div>
          </div>
          <div class="font-light text-4xl text-gray-400 transform rotate-90">
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!--  -->
