<div class="header flex_center">
  <label for="toggle_menu" class="toogle-icons flex_jus_center">
    <i class="bi bi-list"></i>
  </label>
  <div class="back_next">
    <a href=""><i class="bi bi-arrow-left"></i></a>
    <a href=""><i class="bi bi-arrow-right"></i></a>
  </div>
  <div class="search_box_content">
    <input type="search" placeholder="Tìm kiếm gì đi..." />
    <i class="bi bi-search"></i>
  </div>
  <div class="notification_tooL flex_center">
    <i class="bi bi-bell"></i>
    <i class="bi bi-envelope"></i>
  </div>

  <div class="profile_sign">
    <a class="profile_admin flex_center">
      <img
        src="https://i.pinimg.com/564x/7b/1d/a3/7b1da3317239a473e43108a373010713.jpg"
        alt=""
      />
      <span>Nhat Vi</span>
    </a>
  </div>
</div>
<input type="checkbox" hidden name="" id="toggle_menu" />
