<div class="navigation">
  <a href="" class="logo_n flex_jus_center"> Viflix </a>
  <div class="navigation__list">
    <ul>
      <li class="active">
        <a href="/admin/dashboard"
          ><i class="bi bi-bookmarks"></i> <span>Tổng quan</span></a
        >
      </li>
      <li class="">
        <a href="/admin/movies"><i class="bi bi-film"></i> <span>Phim</span></a>
      </li>
      <li class="">
        <a href="/admin/categories"
          ><i class="bi bi-bookmarks"></i> <span>Thể loại</span></a
        >
      </li>
      <li class="">
        <a href="/admin/charts">
          <i class="bi bi-house-door-fill"></i> <span>Thống Kê</span>
        </a>
      </li>
      <li class="">
        <a href="/admin/comment">
          <i class="bi bi-chat-left-dots"></i> <span>Bình luận</span>
        </a>
      </li>
    </ul>
  </div>
</div>
