.browser-footer {
  width: 100%;
  height: 150px;
  background-color: #000000;
}
.nav-browser-footer {
  width: 80%;
  margin: 0 auto;
}
.nav-browser-footer .icon-footer {
  margin-bottom: 1rem;
}
.nav-browser-footer .icon-footer a {
  margin-right: 10px;
}
.nav-browser-footer .icon-footer i {
  font-size: 36px;
  color: white;
}
.nav-browser-footer .list-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 500;
  font-size: 14px;
}
.nav-browser-footer .list-footer li {
  margin-bottom: 10px;
  cursor: pointer;
}
