@keyframes selectBrowser {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fillLogin {
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fillLogin .title-select-browser {
  color: white;
  font-size: 52px;
  font-weight: 300;
  margin-bottom: 2rem;
}
.listUser {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  animation: selectBrowser 1s backwards;
}
.userCard {
  width: 160px;
  height: 190px;
  margin: 0 10px;
}
.imgUserCard {
  width: 160px;
  height: 160px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.imgUserCard:hover {
  background-color: white;
}
.imgUserCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.nameUserCard {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
