<div class="banner-browser">
  <img src="/images/banner.jpg" alt="banner" class="select-none" />
  <div class="content-banner-browser">
    <div class="title">
      <span>Avatar: The way of water</span>
    </div>
    <div class="btn-content">
      <button class="btn-play">
        <i class="fa-solid fa-play"></i>
        <span>Phát</span>
      </button>
      <button class="btn-detail">
        <i class="fa-solid fa-circle-info"></i>
        <span>Thông tin khác</span>
      </button>
    </div>
  </div>
  <div class="fillBlurBottomBanner"></div>
</div>
