<div class="wrapper-filter-detail-film">
  <div class="filter-detail-film"></div>
  <div class="scroll-detail-film">
    <div class="loadingClassFilter h-full w-full grid place-content-center">
      <img src="/images/btn-loading.svg" alt="loading" class="w-20 h-20" />
    </div>
    <div class="block-detail-film hidden">
      <div
        class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
      >
        <video id="sourceMovie" class="w-full shadow-lg" autoplay>
          <source src="" type="video/mp4" />
        </video>
      </div>
      <div class="content-detail-film">
        <div class="list-btn-detail-film">
          <button id="btnPlayVideo">
            <i class="fa-solid fa-play"></i>Phát
          </button>
          <a
            id="handleFavorite"
            data-key="<%= icon.key %>"
            data-user="<%= icon.userId._id %>"
            onclick="addAndRemoveFavorite(this)"
            class="cursor-pointer"
            ><span><%= icon.tooltip %></span><i class="<%= icon.name %>"></i
          ></a>
          <a href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
        <h3
          style="
            color: #fff;
            margin-bottom: 1rem;
            font-weight: 500;
            padding-left: 2rem;
          "
        >
          Mô tả:
        </h3>
        <div class="description-detail-film"></div>
      </div>
    </div>
  </div>
</div>
