<div class="wrapper-slide-list-film">
  <div class="title-list-film">
    <span><%= title %></span>
  </div>
  <div class="wrapper-list-film" id="wrapper-list-film">
    <div class="list-film-browser">
      <% movies.forEach(movie => { %>
      <div class="film-browser">
        <img
          src="<%= movie.poster %>"
          alt="movie"
          class="rounded-md"
          onclick="getDetailFilm(this)"
          data-id="<%= movie._id %>"
        />
      </div>
      <% }) %>
    </div>
  </div>
  <div class="list-slide-film-prev">
    <i class="fa-solid fa-chevron-left"></i>
  </div>
  <div class="list-slide-film-next">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>
